{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Shop</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<div class='container'>
    <div class='row'>
        <center>
            <div class='col-8'>
                <p align='justify'>
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc condimentum libero sit amet iaculis lobortis. In sollicitudin augue sit amet massa commodo congue. Proin cursus turpis metus, eu gravida erat condimentum vel. Pellentesque et diam ac nisl convallis faucibus. Pellentesque velit lectus, ultricies at odio a, congue pulvinar odio. Praesent molestie ante vel gravida elementum. Donec mi est, sagittis at quam ac, ornare aliquam nisi. Donec id viverra est, nec faucibus nisl. Aliquam eu odio et lectus pretium consectetur vitae sed tortor. Quisque a odio tortor. Ut venenatis pellentesque mauris quis dictum. Nullam aliquet mauris sit amet lorem pellentesque, ac mattis lorem feugiat.
                <br/><br/>
                Suspendisse potenti. Cras blandit malesuada justo sed suscipit. Vestibulum pharetra lectus purus, eu fringilla urna dignissim ut. Suspendisse euismod volutpat tincidunt. Fusce et felis ac felis gravida finibus. Pellentesque condimentum ac dui sit amet tincidunt. Nulla imperdiet lacus nec viverra facilisis. Aliquam a commodo ante. Etiam rhoncus vitae ex et vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas rutrum facilisis sem, et porttitor mauris egestas sit amet. Mauris venenatis velit at eleifend mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                <br/><br/>
                Proin sed molestie turpis, nec mattis tortor. Aenean nec viverra nisi. Vestibulum euismod congue lacus quis gravida. Maecenas vehicula a ante tempor sollicitudin. Sed ut ex sit amet felis efficitur porta fringilla ac augue. Phasellus rutrum maximus diam, quis hendrerit turpis convallis non. Aenean sollicitudin leo eget orci finibus aliquet. Etiam tincidunt enim at erat sollicitudin, sit amet lacinia est maximus. Integer efficitur sed dui eget pretium.
                <br/><br/>
                </p>
            </div>
        </center>
    </div>

</div>

{% endblock %}